@import '../../../scss/variables.scss';

.Button {
  cursor: pointer;
  border-style: solid;
  background-color: transparent;
  outline: none;

  &--light {
    border-color: white;
    color: white;
  }

  &--dark {
    border-color: $font-main;
    color: $font-main;
  }

  &--small {
    padding: 8px 16px;
    font-size: 12px;
  }

  &--medium {
    padding: 12px 24px;
    font-size: 16px;
  }

  &--large {
    border-width: 3px;
    padding: 16px 38px;
    font-size: 21px;
  }
}
