@import '../../../scss/variables.scss';

.ThumbsIndicator {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
  color: white;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &--up {
    @extend .ThumbsIndicator;
    background-color: $main-thumbs-up;
  }

  &--down {
    @extend .ThumbsIndicator;
    background-color: $main-thumbs-down;
  }
}
