@import '../../../scss/mixins.scss';

.Hero {
  height: 100vh;
  min-height: 700px;
  max-height: 1080px;
  background-image: url('/assets/images/francisco.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__container {
    @include container;
  }
}
