@import '../../../scss/mixins.scss';

.Header {
  padding-top: 2rem;
  padding-bottom: 2rem;

  &--home {
    color: white;
    background-image: linear-gradient(
      180deg,
      rgba(51, 51, 51, 0.7),
      rgba(51, 51, 51, 0.4) 40%,
      rgba(51, 51, 51, 0)
    );
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include container();
  }

  &__logo {
    font-size: 2rem;
  }

  &__menu {
    list-style: none;
    display: flex;
    align-items: center;

    &--item {
      margin-left: 2rem;
      font-weight: 300;
      &:hover {
        font-weight: 400;
      }
    }
  }
}
