@import '../../../scss/mixins.scss';

.Footer {
  font-size: 0.875rem;
  &__container {
    border-top: 1px dashed black;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    @include container();
  }

  &__legal-menu {
    list-style: none;
    display: flex;
    align-items: center;

    &--item {
      margin-right: 2rem;
    }
  }

  &__social {
    display: flex;
    align-items: center;

    &-menu {
      list-style: none;
      display: flex;
      align-items: center;

      &--item {
        margin-left: 1rem;
        font-size: 2rem;
      }
    }
  }
}
